/* Your styles here */
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #eaeded;
}
header {
  background-color: #222f3e;
}

.logo-Amazon {
  width: 5%;
  margin: 0.3rem 1rem 0.3rem;
}
.option-title {
  background-color: #364659;
  padding: 0.5rem 0 0.5rem 0.4rem;
}

.option-title a {
  text-decoration: none;
  padding: 0.4rem;
  font-size: small;
  text-decoration: none;
}

.option-title a:link,
.option-title a:visited {
  color: white;
}

main {
  margin-right: 2rem;
  margin-left: 2rem;
}
.title-holiday {
  background-color: #f56600;
  text-align: center;
  color: white;
  font-size: 15px;
  padding: 0.6rem;
}

.container-title-git {
  text-align: center;
  background-image: url(../images/bg-image.png);
  padding: 2rem;
  background-size: contain;
  background-repeat: no-repeat;
}

.container-title-git h1,
p {
  color: white;
  font-weight: bold;
  padding: 0.2rem;
  font-family: Arial, Helvetica, sans-serif;
}

.container-cards {
  background-color: white;
}

.title-cards-img {
  text-align: center;
}

.title-cards {
  color: #0e0e0e;
}

.title-cards a:link,
.title-cards a:visited {
  color: #017185;
  text-decoration: none;
}

.title-cards-img img {
  width: 230px;
  border-radius: 10%;
  height: 250px;
  box-shadow: 0 1px 5px gray;
  margin: 0 1rem 3rem;
}

.gift-tec-play,
.gift-tec-sound {
  width: 100%;
  height: 400px;
  margin-top: 1rem;
  margin-bottom: 0px;
}

.gift-tec-play-testo,
.gift-tec-play-testo-sound {
  color: black;
  text-align: center;
  font-size: 0.9rem;
  margin-top: 0;
}

.gift-tec-play-testo a:link,
.gift-tec-play-testo a:visited {
  color: #017185;
  text-decoration: none;
}

.gift-tec-play-testo-sound a:link,
.gift-tec-play-testo-sound a:visited {
  color: #017185;
  text-decoration: none;
}

.back-finale {
  background-color: #364659;
  text-align: center;
  padding: 0.5rem;
}

.back-finale a:link,
.back-finale a:visited {
  color: white;
  font-size: small;
}

.footer-finish {
  text-align: center;
  background-color: #222f3e;
}

.footer-finish-logo {
  width: 90px;
  padding: 1.5rem;
}
